/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, purple, purple, pink);
  color: white;
  display: flex;
  align-items: center;
  padding: 2px 20px 10px;
  z-index: 10;
  overflow: hidden;
}

header button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 250px;
  height: calc(100vh - 70px);
  background: linear-gradient(
    0deg,
    black 1%,
    rgb(175, 175, 175),
    rgb(231, 231, 231) 100%
  );
  padding: 20px;
  z-index: 5;
  transform: translate(0);
  transition: transform 0.1s ease;
}

.sidebar.closed {
  transform: translate(-100%);
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 10px 0;
  transition: background-color 0.3s ease, font-weight 0.3s ease,
    padding 0.3s ease;
}

.sidebar li:hover {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #ddd;
  font-weight: bold;
  padding: 10px;
}

/* Main content styles */
main {
  margin-top: 70px;
  margin-left: 250px;
  padding: 20px;
  background: white;
  min-height: 200vh;
  transform: backgrond 0.3s ease; /* Makes it scrollable */
}

main.no-sidebar {
  margin-left: 0px;
  background: radial-gradient(
    circle at center,
    rgb(255, 255, 255) 80%,
    rgb(187, 187, 187)
  );
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 200px;
  height: 100px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card.expanded {
  width: 400px;
  height: 200px;
  background: aliceblue;
}

.expanded-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.card.expanded .expanded-wrapper {
  max-height: 100px;
}
